<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        #emailInput
        [(ngModel)]="email" 
        name="email" 
        type="email"
        inputmode="email"
        enterkeyhint="next"
        autocomplete="email"
        clearInput="true"
        required
        (ionFocus)="focusInput(emailInput)"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        #passwordInput
        [(ngModel)]="password" 
        name="password" 
        type="password"
        inputmode="text"
        enterkeyhint="done"
        autocomplete="current-password"
        clearInput="true"
        required
        (ionFocus)="focusInput(passwordInput)"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Login
    </ion-button>
  </form>

  <ion-button expand="block" fill="outline" (click)="register()" class="ion-margin-top">
    Create Account
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="forgotPassword()">
    Forgot Password?
  </ion-button>

  <div *ngIf="message" class="ion-margin-top">
    <ion-text color="danger" *ngIf="message.includes('Erreur') || message.includes('error')">
      {{ message }}
    </ion-text>
    <ion-text color="success" *ngIf="!message.includes('Erreur') && !message.includes('error')">
      {{ message }}
    </ion-text>
  </div>
</ion-content>