/* register.page.scss */
ion-content {
    --background: #f4f5f8;
  }
  
  ion-card {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 15px;
  }
  
  a {
    text-decoration: none;
    font-weight: 500;
  }
  .error-message {
    color: var(--ion-color-danger);
    text-align: center;
    margin: 10px 0;
  }
  
  .success-message {
    color: var(--ion-color-success);
    text-align: center;
    margin: 10px 0;
  }
  
  .auth-card {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 15px;
  }