<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'HISTORY.DATA_HISTORY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chart-container">
    <!-- Temperature Chart -->
    <div class="chart-card">
    
      <canvas #temperatureChart></canvas>
    </div>

    <!-- Humidity Chart -->
    <div class="chart-card">
      
      <canvas #humidityChart></canvas>
    </div>

    <!-- Pressure Chart -->
    <div class="chart-card">
     
      <canvas #pressureChart></canvas>
    </div>
  </div>
</ion-content>